/*
  Project Name: Buildhub 
  Description: Construction HTML Template
  Version: 1.0.0
*/

/* CSS Inden
-----------------------------------------------
# Google Fonts
# Default CSS
# Theme default CSS
# Background CSS
# Header area CSS
# Header bottom CSS
# Hero slider CSS
# About section CSS
# Servie Section
# Work section CSS
# Counter Section CSS
# Featured Section CSS
# Logo Section CSS
# Team Section
# Circle progress CSS
# Testimonial Section CSS
# Blog Section CSS
# FAQ Section CSS
# Subscribe Section CSS
# Footer Section CSS
# Copyright Section CSS
# FAQ Page CSS
# Blog details CSS
# Service Details CSS
# Contact page CSS
*/

/* --------------------
# Google fonts
======================= */
/*
  (Roboto)
  -----------------------
  font-family: 'Roboto', sans-serif;
  
  (Rajdhani)
  ----------------------- 
  font-family: 'Rajdhani', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@300;400&display=swap");

/* --------------------
# Default CSS
======================= */
:root {
  --primary-color: rgb(255, 94, 21);
  --secondary-color: rgb(8, 39, 85);
  --font-color: #565969;
  --box-shadow: 0 1px 21px 2px #7682b711;
  --gray-bg-color: #f5faff;
  --bg-primary-pattern: url(../images/pattern.png),
    linear-gradient(90deg, var(--primary-color), var(--primary-color));
  --bg-secondary-pattern: url(../images/pattern.png),
    linear-gradient(90deg, var(--secondary-color), var(--secondary-color));
  --bg-white-pattern: url(../images/pattern.png),
    linear-gradient(90deg, #fff, #fff);
  --gray-color: #f0f2f5;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

a,
.button {
  -webkit-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
a:hover {
  color: var(--primary-color);
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a,
button {
  color: var(--secondary-color);
  outline: medium none;
  text-decoration: none;
}

button:focus,
input:focus,
textarea:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  color: var(--secondary-color);
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 0.88rem;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: var(--font-color);
}

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

::selection {
  background: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

*::-moz-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::-webkit-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

/* --------------------
# Theme default CSS
======================= */

html,
body {
  height: 100%;
}

a {
  font-family: "Rajdhani", sans-serif;
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}

/* Spacing */

.section-padding {
  padding: 100px 0;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

/* Background Element */
.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.gray-bg {
  background: #f5faff;
}

/* Theme btn and input CSS */
input:focus,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--gray-bg-color);
}

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="password"],
textarea,
textarea.form-control {
  padding: 15px 20px;
  border: none;
  border-radius: 0;
  background-color: var(--gray-bg-color);
  color: var(--font-color);
  font-size: 1rem;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

input[type="submit"],
button[type="submit"],
.theme-btn {
  background-image: var(--bg-primary-pattern);
  font-size: 1rem;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  padding: 12px 40px;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: 2px solid var(--primary-color);
  border-radius: 0;
}

input[type="submit"]:focus,
button[type="submit"]:focus,
.theme-btn:focus {
  color: #fff;
}

.btn {
  color: var(--secondary-color);
}

.btn:hover {
  color: var(--primary-color);
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.theme-btn:hover {
  background-image: var(--bg-secondary-pattern);
  color: #fff;
  border-color: var(--secondary-color);
}

.theme-btn.bordered-btn {
  color: var(--secondary-color);
  background-image: var(--bg-white-pattern);
  border-color: var(--secondary-color);
}

.theme-btn.bordered-btn:hover {
  background-image: var(--bg-secondary-pattern);
  color: #fff;
}

/* Video play btn CSS */
.video-play-btn {
  background: var(--secondary-color);
  color: #fff;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
  margin-right: 12px;
  position: relative;
}

.video-play-btn:hover {
  color: #fff;
}

.video-play-btn:after,
.video-play-btn:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}
.video-play-btn:after {
  -webkit-animation: pulse 2s ease-out infinite;
  animation: pulse 2s ease-out infinite;
}

.video-play-btn:before {
  -webkit-animation: pulse 2s 1s ease-out infinite;
  animation: pulse 2s 1s ease-out infinite;
}

@-webkit-keyframes pulse {
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

/* popup up video */
.mfp-iframe-scaler iframe {
  border: 10px solid var(--primary-color);
  background: #fff;
}

.mfp-bg {
  background: var(--secondary-color);
  opacity: 0.95;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
  content: var(--bs-breadcrumb-divider, "\f054");
  font-family: "Font Awesome 5 Free";
}

/* Theme element */
.theme-list li {
  padding: 5px 30px;
  position: relative;
  color: var(--font-color);
}

.theme-list li:after {
  position: absolute;
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: var(--primary-color);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.theme-span-text {
  font-size: 1rem;
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 3px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
}

/* Theme overlay */
.theme-overlay {
  position: relative;
  z-index: 1;
}

.theme-overlay::before {
  position: absolute;
  content: "";
  background: var(--secondary-color);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Bordered Title CSS */
.bordered-title {
  background: url("../images/light-pattern.png");
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -4px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

.dark-bordered-title {
  background: url("../images/pattern.png");
  -webkit-background-clip: text;
  background-clip: text;
}

/* Section title CSS */
.section-title {
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.section-title .bordered-title {
  position: absolute;
  top: 0;
  left: -4px;
  z-index: -1;
  line-height: 6.2rem;
  margin: 0;
  z-index: 2;
}

.section-title .section-heading {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  line-height: 2rem;
  z-index: 3;
  padding-top: 80px;
}

.section-title p {
  line-height: 1.4;
}

.section-title.secondary-bg .section-heading {
  color: #fff;
}

/* Page Title css */

.page-title-area {
  background-size: cover;
  background-position: center top;
  padding: 210px 0 80px 0;
  background-color: var(--secondary-color);
}

.page-title-inner {
  position: relative;
  z-index: 1;
}

.page-title-inner .bordered-title {
  position: absolute;
  top: 0px;
  left: -4px;
  line-height: 1;
  margin: 0;
  z-index: 2;
}

.page-title-inner .text-title {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding-top: 85px;
  z-index: 3;
}

.page-title .breadcrumb .breadcrumb-item a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-title nav {
  position: relative;
  z-index: 111;
}

.page-title .breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}

.page-title .breadcrumb-item.active {
  color: var(--primary-color);
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* pagination */
.theme-pagination .page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.theme-pagination .page-link {
  margin: 0px 15px;
  color: var(--secondary-color);
  border-color: #f0f2f5;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0;
}

.theme-pagination .page-link:focus {
  background-color: #fff;
}

.theme-pagination .page-link:hover,
.theme-pagination .page-item.active .page-link {
  background: var(--bg-primary-pattern);
  border-color: var(--primary-color);
  color: #fff;
}

/* Tag list*/
.tag-list {
  padding-top: 9px;
}

.tag-list a {
  background-color: #ffffff11;
  padding: 6px 12px;
  display: inline-block;
  margin: 0px 6px 10px 0;
  font-size: 0.875rem;
  position: relative;
  letter-spacing: 1px;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.tag-list a:hover {
  background-color: var(--primary-color);
}

.tag-list a:hover:after {
  border-left-color: var(--primary-color);
}

/* ScrollUp CSS */
#scrollUp {
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-image: var(--bg-primary-pattern);
  -webkit-transition: bottom 150ms linear;
  -o-transition: bottom 150ms linear;
  transition: bottom 150ms linear;
}

#scrollUp:hover {
  background-image: var(--bg-secondary-pattern);
}

/* Sidebar CSS */
/* ------------------------------------- */

/* Search Box */
.widget {
  padding: 30px;
  background-color: #fff;
}

.widget .search-form {
  position: relative;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  border-color: #0a58ca;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.widget input[type="text"] {
  width: 100%;
  border: 1px solid var(--gray-color);
  padding: 15px 20px;
  background: #fff;
}

.widget button[type="submit"] {
  position: absolute;
  right: 0;
  border: 1px solid transparent;
  background: transparent;
  color: var(--secondary-color);
  padding: 15px 20px;
  font-size: 1rem;
}

.widget button[type="submit"]:hover {
  color: var(--primary-color);
}

/* Recent Post */
.recent-posts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recent-post-image {
  height: 80px;
  background: var(--gray-color);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
}

.recent-post-body {
  padding-left: 1.8rem;
}

.recent-post-title {
  line-height: 1;
  margin-bottom: 5px;
  font-weight: 700;
}

.widget-title {
  text-transform: uppercase;
}

.recent-posts > li {
  padding: 20px 0;
}

.recent-posts > li:not(:last-child) {
  border-bottom: 1px solid var(--gray-color);
}

.recent-posts > li:first-child {
  padding-top: 0px;
}

.recent-posts > li:last-child {
  padding-bottom: 0px;
}

/* Widget Tag list */

.widget .tag-list {
  padding-top: 0px;
}

.widget .tag-list a {
  background-color: var(--gray-color);
}

.widget .tag-list a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Categories */

.categories li:not(:last-child) {
  border-bottom: 1px solid var(--gray-color);
}

.categories li {
  padding: 10px 0;
}

.categories li:first-child {
  padding-top: 0px;
}

.categories li:last-child {
  padding-bottom: 0px;
}

.categories li a span {
  float: right;
}

/* ----------------------------------------------- 
# Background CSS
================================================== */
.slider-1 {
  background-image: url(../images/bg/slider-1.jpg);
}

.slider-2 {
  background-image: url(../images/bg/slider-3.jpg);
}

.single-project-bg-1 {
  background-image: url(../images/work/work-1.jpg);
}

.single-project-bg-2 {
  background-image: url(../images/work/work-2.jpg);
}

.single-project-bg-3 {
  background-image: url(../images/work/work-3.jpg);
}

.single-project-bg-4 {
  background-image: url(../images/work/work-4.jpg);
}

.single-project-bg-5 {
  background-image: url(../images/work/work-5.jpg);
}

.single-project-bg-6 {
  background-image: url(../images/work/work-6.jpg);
}

.single-project-bg-7 {
  background-image: url(../images/work/work-1.jpg);
}

.single-project-bg-8 {
  background-image: url(../images/work/work-2.jpg);
}

.single-project-bg-9 {
  background-image: url(../images/work/work-3.jpg);
}

.single-counter .bordered-counter {
  background: url(../images/light-pattern.png);
}

.subscribe-section {
  background-image: url("../images/primary-bg-overlay.png"),
    -o-linear-gradient(left, var(--primary-color), var(--primary-color));
  background-image: url("../images/primary-bg-overlay.png"),
    -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary-color)));
  background-image: url("../images/primary-bg-overlay.png"),
    linear-gradient(90deg, var(--primary-color), var(--primary-color));
}

.subscribe-section .subscribe-left {
  background-image: url("../images/bg/my-subscribe.jpg");
}

/* ----------------------------------------------- 
# Header area CSS
================================================== */

/* Header top social link */
header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999999;
}

.header-top {
  background: var(--secondary-color);
  font-size: 15px;
}

.header-top .social-icon ul li {
  display: inline-block;
  border-right: 1px solid #ffffff11;
}

.header-top .social-icon ul li:first-child {
  border-left: 1px solid #ffffff11;
}

.header-top .social-icon ul li a {
  padding: 11px 15px;
  display: block;
  color: #fff;
  -webkit-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.header-top .social-icon ul li:hover > a {
  color: var(--primary-color);
}

/* Header top info */
.header-top-info {
  color: #fff;
}

.header-top-info ul {
  text-align: right;
}

.header-top-info ul li {
  font-family: "Rajdhani", sans-serif;
  display: inline-block;
  padding: 11px 15px;
  -webkit-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.header-top-info ul li:not(:last-child) {
  border-right: 1px solid #ffffff11;
}

.header-top-info li a {
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  -webkit-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.header-top-info li:hover {
  color: var(--primary-color);
}

.header-top-info li a:hover {
  color: var(--primary-color);
}

/* ----------------------------------------------- 
# Header bottom CSS
================================================== */
.header-bottom-area {
  background: #fff;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

/* Main menu */
.main-menu {
  margin-right: 20px;
}

.main-menu ul li {
  display: inline-block;
  position: relative;
}

.main-menu ul li a {
  display: block;
  padding: 30px 15px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.main-menu ul li:hover > a {
  color: var(--primary-color);
}

/* Dropdown Menu */
.main-menu ul li .submenu {
  position: absolute;
  background: #fff;
  width: 230px;
  left: 0;
  top: 110%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  padding: 15px 0;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.main-menu ul li .submenu:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: var(--primary-color);
  width: 100%;
  height: 3px;
}

.main-menu ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.main-menu ul li .submenu li {
  display: block;
}

.main-menu ul li .submenu li a {
  padding: 10px 26px;
  text-transform: capitalize;
}

/* ----------------------------------------------- 
# Hero slider CSS
================================================== */
.slider-section {
  position: relative;
  height: 764px;
}

.slider-section div {
  height: 100%;
}

.slider-section .single-slider-table-cell,
.slider-section .single-slider-table-cell div {
  height: auto;
}

.single-slider {
  background-size: cover;
}

.single-slider-inner {
  display: table;
  width: 100%;
  margin-top: 75px;
}

.single-slider-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.slider-content h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}

.slider-content h2 span {
  color: var(--primary-color);
}

.hero-btn {
  margin-top: 30px;
}

.hero-btn .theme-btn {
  margin-right: 26px;
}

.slider-section .slick-arrow {
  position: absolute;
  width: 70px;
  right: 0;
  bottom: 0;
  z-index: 111111112;
  height: 70px;
  border: none;
  background: #fff;
  color: var(--secondary-color);
}

.slider-section .slick-prev.slick-arrow {
  right: 70px;
  background-image: var(--bg-primary-pattern);
  color: #fff;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.slider-section .slick-arrow:hover {
  background-image: var(--bg-secondary-pattern);
  color: #fff;
}

/* ----------------------------------------------- 
# About section CSS
================================================== */

.about-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-title span {
  color: var(--primary-color);
}

.about-content .theme-list {
  margin-bottom: 30px;
}

.about-link .btn.about-btn {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--secondary-color);
}

.about-link .btn.about-btn:hover {
  color: var(--primary-color);
}

.about-link .btn.about-btn i {
  margin-left: 5px;
}

/* ----------------------------------------------- 
# Servie Section
================================================== */

.single-service {
  position: relative;
  z-index: 1;
  border: none;
  background: #fff;
  padding: 30px;
  border-radius: 0;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.service-icon {
  width: 72px;
  margin-bottom: 30px;
}

.single-service:hover {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.single-service h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.btn.read-more-btn {
  text-align: inherit;
  padding: 0;
}

.btn.read-more-btn i {
  margin-left: 8px;
  font-size: 12px;
  vertical-align: middle;
  color: var(--primary-color);
}

/* ----------------------------------------------- 
# Work section CSS
================================================== */
.work-section {
  position: relative;
  z-index: 1;
}

.single-project {
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 350px;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-project:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.single-project:hover:before {
  opacity: 0.6;
}

.project-info {
  background: rgb(253, 253, 253);
  min-width: 90%;
  padding: 20px;
  position: absolute;
  z-index: 1;
  left: -100%;
  bottom: 30px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.project-info:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: var(--bg-primary-pattern);
  content: "";
  z-index: -1;
}

.single-project:hover .project-info {
  left: 0;
}

.project-info h4 a {
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-weight: 700;
  text-transform: uppercase;
}

.project-info p {
  margin-bottom: 20px;
}

.project-info h4 {
  margin-bottom: 0;
}

.project-slides .slick-slide img {
  display: block;
  width: 100%;
}

.project-slides .slick-arrow {
  position: absolute;
  top: 50%;
  border: none;
  width: 70px;
  height: 70px;
  z-index: 111;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px;
  background-color: #fff;
  color: var(--secondary-color);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.project-slides .slick-next {
  left: auto;
  right: 15px;
  background-color: #fff;
  color: var(--secondary-color);
}

.project-slides .slick-arrow:hover {
  background: var(--bg-primary-pattern);
  color: #fff;
}

.project-slides:hover .slick-arrow {
  visibility: visible;
  opacity: 1;
}

/* .project-slides:hover .slick-next {
  right: -75px;
}

.project-slides:hover .slick-prev {
  left: -75px;
} */

.project-slides .slick-slide {
  margin: 0px 15px;
}
/* 
.project-slides .slick-list {
  margin: 0;
} */

/* ----------------------------------------------- 
# Counter Section CSS
================================================== */

.single-counter {
  text-align: center;
  position: relative;
  padding-top: 71px;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  padding-bottom: 30px;
}

.single-counter .bordered-counter {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 110px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 15px;
  z-index: -1;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  line-height: 1;
}

.single-counter h2 {
  line-height: 1;
  margin: 0;
}

.single-counter .theme-span-text {
  color: var(--primary-color);
}

/* ----------------------------------------------- 
# Featured Section CSS
================================================== */
.single-feature-box {
  padding: 30px;
  text-align: center;
  position: relative;
  border-radius: 0;
}

.single-feature-box.card {
  border: none;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.feature-content .theme-span-text,
.feature-content h4,
.feature-content p {
  color: #fff;
}

.feature-content h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.feature-content {
  padding: 0;
}

.single-feature-box .feature-img {
  width: 74px;
  margin: 0 auto 50px;
}

/* ----------------------------------------------- 
# Logo Section CSS
================================================== */

.single-logo {
  padding: 0 10px;
}

.single-logo .partner-logo {
  width: 100%;
  height: 120px;
  display: block;
  position: relative;
}

.single-logo .partner-logo > img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 60%;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.single-logo .partner-logo > img.before-image {
  top: 50%;
}

.single-logo .partner-logo > img.after-image {
  top: 150%;
}

.single-logo .partner-logo:hover > img.before-image {
  top: -150%;
}

.single-logo .partner-logo:hover > img.after-image {
  top: 50%;
}

/* ----------------------------------------------- 
# Team Section
================================================== */

.single-team {
  border: none;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 0;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.single-team:hover {
  background-color: var(--secondary-color);
}

.single-team img {
  width: 100%;
}

.single-team .card-body {
  padding: 30px;
}

.single-team h4 {
  margin-bottom: 15px;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  text-transform: uppercase;
}

.single-team h4 span {
  font-size: 1rem;
  display: block;
  font-weight: 700;
  color: var(--font-color);
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.single-team .team-social-links li {
  display: inline-block;
}

.single-team .team-social-links li a {
  padding: 5px;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.single-team:hover h4,
.single-team:hover h4 span,
.single-team:hover p,
.single-team:hover .team-social-links li a {
  color: #fff;
}

.single-team .team-social-links li a:hover {
  color: var(--primary-color);
}

/* ----------------------------------------------- 
# Circle progress CSS
================================================== */
.progress-box {
  background-color: #fff;
  text-align: center;
  padding: 30px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.progress-box .circle-content {
  margin-top: 20px;
}

.circle {
  display: inline-block;
  position: relative;
  text-align: center;
}

.circle div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 700;
  color: var(--secondary-color);
  font-family: "Rajdhani", sans-serif;
}

.circle div span {
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
}

/* ----------------------------------------------- 
# Testimonial Section CSS
================================================== */

.single-testimonial {
  padding: 15px;
}

.testimonial-content {
  background-size: cover;
  border-radius: 14px;
  position: relative;
  z-index: 1;
  padding: 30px;
  background-color: var(--secondary-color);
}

.testimonial-content .quote {
  position: absolute;
  width: 100px;
  opacity: 0.04;
  right: 10%;
  top: 5%;
}

.testimonial-content .testimonial-author {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  margin-bottom: 20px;
}

.testimonial-content .testimonial-author img {
  width: 100%;
  border-radius: 50%;
}

.testimonial-author-info h4 {
  color: #fff;
  margin-bottom: 20px;
}

.testimonial-author-info h4 .theme-span-text {
  display: block;
  color: #fff;
  font-weight: 400;
}

.testimonial-text p {
  color: #fff;
}

.testimonial-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
  padding: 1rem;
  list-style-type: none;
}

.testimonial-slider .slick-dots li {
  margin: 0 0.25rem;
}

.testimonial-slider .slick-dots li button {
  display: block;
  background-color: var(--secondary-color);
  width: 0.75rem;
  height: 0.75rem;
  padding: 0;
  border: none;
  border-radius: 50%;
  text-indent: -99999999999px;
  overflow: hidden;
}

.testimonial-slider .slick-dots li.slick-active button {
  transform: scale(1.2);
}

/* ----------------------------------------------- 
# Blog Section CSS
================================================== */

.blog-page-link a {
  margin-top: 20px;
}

.single-blog {
  border: none;
  border-radius: 0;
}

.single-blog .blog-image {
  position: relative;
}

.single-blog .blog-image .card-img-top {
  border-radius: 0;
}

.blog-category {
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--primary-color);
  padding: 15px 20px;
}

.blog-category .theme-span-text {
  color: #fff;
  margin: 0;
}

.single-blog .blog-content {
  padding: 30px;
}

.single-blog .blog-content ul {
  margin-bottom: 15px;
}

.single-blog .blog-content .blog-meta li a {
  font-weight: 400;
  font-size: 0.88rem;
  text-transform: uppercase;
  color: var(--font-color);
  letter-spacing: 1px;
}

.single-blog .blog-content .blog-meta li a:hover {
  color: var(--primary-color);
}

.single-blog .blog-content .blog-meta li i {
  margin-right: 5px;
  color: var(--primary-color);
}

.single-blog .blog-content p {
  margin-bottom: 40px;
}

.single-blog .blog-content .blog-links {
  border-top: 1px solid #f0f2f5;
  padding-top: 24px;
}

.single-blog .blog-content .blog-links a {
  padding: 0;
  font-weight: 700;
}

.single-blog .blog-content .blog-links .comment i {
  color: var(--primary-color);
  margin-right: 5px;
}

.single-blog .blog-content .blog-links a:hover {
  color: var(--primary-color);
}

.single-blog .blog-content .blog-links span a i {
  padding-right: 5px;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.single-blog .blog-content .single-blog-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* ----------------------------------------------- 
# FAQ Section CSS
================================================== */

/* FAQ image */
.faq-left {
  padding: 50px;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.faq-left h2,
.faq-left p {
  color: #fff;
}

/* Default FAQ */
.theme-faq .accordion-item {
  border: none;
  padding: 0;
  border-radius: 0;
}

.theme-faq .accordion-item:not(:last-child) {
  margin-bottom: 15px;
}

.theme-faq .accordion-button {
  font-weight: 700;
  color: var(--secondary-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  width: 100%;
  padding: 1.25rem 1.5rem;
  font-size: 1.25rem;
}

.theme-faq .accordion-button:hover {
  color: var(--primary-color);
}

.theme-faq .accordion-button::after {
  width: 14px;
  height: 14px;
  background-size: cover;
}

.theme-faq .accordion-button:not(.collapsed) {
  background-image: var(--bg-primary-pattern);
  color: #fff;
  border-radius: 0;
}

.theme-faq .accordion-button:not(.collapsed)::after {
  -webkit-filter: brightness(0) invert(100%);
  filter: brightness(0) invert(100%);
}

.theme-faq .accordion-button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ----------------------------------------------- 
# Subscribe Section CSS
================================================== */
.subscribe-section {
  background-size: cover;
  background-position: bottom center;
}

.subscribe-section .subscribe-left {
  height: 100%;
  background-size: cover;
  background-position: right;
}

.subscribe-section .subsribe-box {
  background: #fff;
  padding: 50px 30px;
  text-align: center;
}

.subscribe-section .subscribe-icon {
  font-size: 50px;
  color: var(--primary-color);
}

.subscribe-section .subsribe-box h3 {
  text-transform: uppercase;
  margin-bottom: 94px;
}

.subscribe-section .subsribe-box .form-control {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  position: relative;
  border-radius: 0;
  background-color: #fff;
  padding: 15px 0;
}

.subscribe-section .subsribe-box .form-control:focus,
.subscribe-section .subsribe-box .subscribe-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.subscribe-section .subsribe-box .subscribe-btn {
  background-image: var(--bg-secondary-pattern);
  border: none;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.subscribe-section .subsribe-box .subscribe-btn:hover {
  background-image: var(--bg-primary-pattern);
  color: #fff;
}

/* ----------------------------------------------- 
# Footer Section CSS
================================================== */

.footer-area {
  background-color: #001941;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-area a,
.footer-area h4,
.footer-about-us p,
.footer-about-us h5,
.footer-contact-info ul li h6 {
  color: #fff;
}

.footer-contact-info ul li {
  position: relative;
  padding-left: 30px;
}

.footer-contact-info ul li:not(:last-child) {
  margin-bottom: 20px;
}

.footer-contact-info ul li span {
  color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
}

.footer-contact-info ul li h6 {
  font-weight: 400;
}

.footer-area .footer-title {
  margin-bottom: 27px;
}

/* footer menu */
.footer-area .footer-menu ul li a {
  display: block;
  padding: 5px 0px;
  font-family: "Roboto", sans-serif;
}

.footer-area .footer-menu ul li:hover > a {
  color: var(--primary-color);
}

/* Footer tag list */
.footer-area .tag-list a {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
}

/* Footer Contact info */
.footer-contact-info p {
  margin: 0;
  color: #fff;
}

/* ----------------------------------------------- 
# Copyright Section CSS
================================================== */
.copyright-section {
  background: var(--secondary-color);
  padding: 10px 0;
}

.copyright-section p,
.copyright-section a {
  color: #fff;
  margin: 0;
}

.copyright-menu ul {
  text-align: right;
}

.copyright-menu ul li {
  display: inline-block;
}

.copyright-menu ul li a {
  margin-left: 15px;
}

.copyright-menu ul li:hover > a {
  color: var(--primary-color);
}

/* ----------------------------------------------- 
# FAQ Page CSS
================================================== */

/* Faq form */
.faq-question-form .section-title {
  position: static;
  margin-bottom: 50px;
}

.faq-question-form .section-title h3 {
  position: static;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.faq-question-form {
  background: #fff;
  padding: 50px 30px;
}

/* ----------------------------------------------- 
# Blog details CSS
================================================== */
.post-wrapper {
  background-color: #fff;
  padding: 30px 30px 50px 30px;
}

.post-item {
  border-bottom: 1px solid var(--gray-color);
}

.post-thumb {
  position: relative;
  margin-bottom: 30px;
}

.post-thumb .post-category {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px 20px;
}

.post-thumb .post-category .theme-span-text {
  color: #fff;
}

.single-post-meta li {
  margin-right: 30px;
}

.single-post-meta li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.88rem;
  color: var(--font-color);
}

.single-post-meta li a:hover {
  color: var(--primary-color);
}

.single-post-meta li i {
  color: var(--primary-color);
  margin-right: 5px;
}

.single-post-meta {
  margin-bottom: 20px;
}

.single-post-content .single-post-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.single-post-content .single-post-subtitle {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: 500;
}

.single-post-content blockquote {
  position: relative;
  background: var(--secondary-color);
  padding: 30px 30px 30px calc(6% + 30px);
  font-size: 1.125rem;
  line-height: 1.8;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 1;
}

.single-post-content blockquote::after {
  position: absolute;
  content: "";
  background: var(--bg-primary-pattern);
  width: 6%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.single-post-content blockquote p {
  font-size: 1rem;
  color: #fff;
  margin: 0;
}

.single-post-content blockquote .blockquote-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.single-post-content blockquote .blockquote-author-avater {
  width: 40px;
  height: 40px;
  background: #ddd;
  margin-right: 10px;
}

.single-post-content blockquote .blockquote-author-avater .img-thumbnail {
  border: none;
  padding: 0;
  border-radius: 0;
}

.post-tag-wrapper {
  margin-top: 3rem;
}

.blog-post-tag a {
  padding: 8px 15px;
  background-color: var(--gray-color);
  margin-right: 5px;
  display: inline-block;
}

.blog-post-tag a:hover {
  background: var(--bg-primary-pattern);
  color: #fff;
}

.blog-share-media-icon a {
  border: 1px solid var(--gray-color);
  padding: 10px;
  width: 45px;
  display: inline-block;
  height: 45px;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  color: var(--primary-color);
}

.blog-share-media-icon a:not(:first-child) {
  margin-left: 5px;
}

.blog-share-media-icon a:hover {
  background: var(--bg-primary-pattern);
  color: #fff;
}

/* Comment Section */
.post-comments {
  border-bottom: 1px solid var(--gray-color);
}

.comment-box {
  margin-bottom: 3rem;
}

.post-comments .comment-title h4 {
  text-transform: uppercase;
}

.comment-avatar {
  width: 70px;
  height: 70px;
  background-color: var(--gray-color);
  float: left;
  margin-right: 20px;
}

.comment-avatar img {
  width: 100%;
}

.comment-avatar .img-thumbnail {
  border: none;
  padding: 0;
  border-radius: 0;
}

.comment-text {
  overflow: hidden;
}

.comment-text .avatar-info {
  margin-bottom: 15px;
}

.comment-text .avatar-info h5 {
  margin-bottom: 0px;
}

.comment-text a {
  color: var(--primary-color);
}

.comment-text a i {
  margin-right: 7px;
}

.comment-reply {
  padding-left: 130px;
}

.reply-form h4 {
  text-transform: uppercase;
}

/* ----------------------------------------------- 
# Service Details CSS
================================================== */

.service-details {
  padding: 30px;
  background: #fff;
}

.service-details-text-content h2,
.service-details-text-content h3 {
  text-transform: uppercase;
}

/* ----------------------------------------------- 
# Contact page CSS
================================================== */
.address {
  text-align: center;
  background: #fff;
  height: 200px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.address-inner .icon-box i {
  font-size: 50px;
  color: var(--primary-color);
}

.address-inner .icon-box {
  margin-bottom: 15px;
}

.address-inner p {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 700;
}

#map {
  height: 100%;
  width: 100%;
}
.contact-box {
  background-color: #fff;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

#map,
#map iframe {
  width: 100%;
  height: 100%;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
}

.contact-page-form {
  padding: 50px 30px 50px 50px;
}

/* ----------- End --------------- */
